.centered-title[b-f0rh0toir9] {
    text-align: center;
    color: black;
    font-size: 7em;
}
.centered-image[b-f0rh0toir9] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centered-txt[b-f0rh0toir9] {
    text-align: center;
    color: black;
    font-size: 5em;
}