@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to CarbonCalc</h1>
<h3> Track your carbon footprint and make a difference</h3>
<p> This is a simple web application built using ASP.NET and Blazor that allows you to track your carbon footprint and make a difference. </p>

