@page "/"

<PageTitle>Home</PageTitle>

<h1 class="centered-title">Welcome to CarbonCalc</h1>
<img src="/images/carboncalc.gif" class="centered-image" alt="Main Image">
<h3 class="centered-txt"> Track your carbon footprint and make a difference</h3>

